/*
CSS dla MENU
*/

#menuMain
{
    position: absolute;
    width: 200px;
    height: 100vh;
    left: 0;
    top: 0;
    border-right: solid 2px;
    -webkit-box-shadow: 20px -2px 42px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 20px -2px 42px 2px rgba(0,0,0,0.75);
    box-shadow: 20px -2px 42px 2px rgba(0,0,0,0.75);
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;     
    transition: background-color 1s;
    opacity: 0.8;
}

.menuMainBackground
{
    background-color: #fff7e6;
}

#menuWindow
{
    position: absolute;
    top: 200px;
}

ol
{
    display: inline-block;
    list-style-type: none;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 15px;
    height: 2em;
    line-height: 2em;
    padding: 20px 0 0 0;
    margin: 0;
}

ol > li
{
    display: block;
    position: absolute;
    color: #000;
    font-weight: 700;
    width: 200px;
    text-align: center;
}

ol > li > a
{
    display: inline-block;
    width: 200px;
}

ol a
{
    text-decoration: none;
    color: #000;
    display: inline-block;
}

ol > li > ul 
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ol > li > ul
{
    transition: width 0.5s;
    width: 0; 
    height: 0;
    overflow: hidden;
}

ol > li:hover > ul
{
    position: absolute;
    display: inline-block;
    width: 150px;
    height: auto;
    text-align: center;    
}

ol > li > ul > li > a       /* Bez borderów, ponieważ przesuwają ten block względem rodzica. Rozwiązanie na potem: ustawić border u rodzica, ale tak samo przezroczyste jak tło. */
{
    width: 150px;
    background-color: #fff7e6;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}


ol > li > ul > li > a:hover
{
    cursor: pointer;
    background-color: #ffe7b3;
}

/*ol > li > ul > li
{
    border-bottom: solid 2px;

}*/

ol > li > ul > li:last-child
{
    border-bottom: none;
}

ol > li > ul
{
    -webkit-box-shadow: 10px 3px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 3px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 3px 15px 0px rgba(0,0,0,0.75);
}

ol > li
{
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

ol > li:hover
{
    cursor: pointer;
    background-color: #ffe7b3;
}

ol > li.border
{
    position: absolute;
    width: 150px;
    border-top: solid 2px;
    left: 25px;
    top: 50px;
}
