body
{
   background-image: url("images/hotel_kolor.jpg");     /*Źródło: http://www.kurs-rysunku.com/rysunek/szkice-olowkiem/stara-kamienica-krakow-szkic-rysowany-olowkiem.jpg */ 
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   font-family: 'Lato', sans-serif;
   border: 0;
   margin: 0;
   padding: 0;
}
