body
{
   background-image: url("images/hotel_kolor.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   font-family: 'Lato', sans-serif;
   margin: 0;
}

menu
{
   position: relative;
   left: 100px;
   top: 150px;
   width: 250px;
   height: 650px;
}

.menuMain
{
    position: absolute;
    width: 250px;
    height: 500px;
    top: 53px;
    background-color: #fff;
    opacity: 0.8;
    border-right: solid 3px #000;
    border-left: solid 3px #000;
}

.menuTop
{
    position: absolute;
    width: 150px;
    height: 50px;
    left: 93px;
    background-color: #fff;
    opacity: 0.8;
    border-top: solid 3px #000;
}

.menuBottom
{
    position: absolute;
    width: 150px;
    height: 50px;
    left: 93px;
    top: 553px;
    background-color: #fff;
    opacity: 0.8;
    border-bottom: solid 3px #000;
}

.square1
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #fff;
    opacity: 0.8;
    border-left: solid 3px #000;
    border-top: solid 3px #000;
    border-top-left-radius: 40%;
}

.square2
{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 243px;
    background-color: #fff;
    opacity: 0.8;
    border-right: solid 3px #000;
    border-top: solid 3px #000;
    border-top-right-radius: 40%;
}

.square3
{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 553px;
    left: 243px;
    background-color: #fff;
    opacity: 0.8;
    border-right: solid 3px #000;
    border-bottom: solid 3px #000;
    border-bottom-right-radius: 40%;
}

.square4
{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 553px;
    background-color: #fff;
    opacity: 0.8;
    border-left: solid 3px #000;
    border-bottom: solid 3px #000;
    border-bottom-left-radius: 40%;
}

ol
{
    display: inline-block;
    list-style-type: none;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 17px;
    height: 2em;
    line-height: 2em;
    padding: 20px 0 0 0;
    margin: 0;
}

ol > li
{
    position: absolute;
    color: #000;
    font-weight: 700;
    left: 25px;
}

ol a
{
    text-decoration: none;
    color: #000;
    display: inline-block;
}

ol > li > ul 
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ol > li > ul 
{
    display: none;
}

ol > li:hover > ul 
{
    position: absolute;
    display: inline-block;
    text-align: center;
}

ol > li > ul > li > a       /* Bez borderów, ponieważ przesuwają ten block względem rodzica. Rozwiązanie na potem: ustawić border u rodzica, ale tak samo                                       przezroczyste jak tło. */
{
    width: 200px;
    margin-left: 23px;
    background-color: #fff; 
}

ol > li
{
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

ol > li:hover
{
    cursor: pointer;
    background-color: #ddd;
}

ol > li > ul > li > a
{
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

ol > li > ul > li > a:hover
{
    cursor: pointer;
    background-color: #ddd;
}

.szlaczek
{
    position: absolute;
    width: 180px;
    top: 40px;
    left: 10px;
}

.szlaczekTop
{
    position: absolute;
    width: 150px;
}

.szlaczekBottom
{
    position: absolute;
    width: 150px;
    top: 20px;
}